@charset "utf-8";
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea, p {margin:0; padding:0; font-weight: normal;font-style: normal;font-size: 100%; font-family: inherit;}
body { font-size:12px; font-family:Arial, Helvetica, sans-serif; background: #CCCCCC; color:#555555;}

html { -webkit-text-size-adjust:none; }
ol, ul ,li{list-style: none;}
a { text-decoration:none; cursor:pointer;}
img {border: 0; }

#web { width:970px; height:680px; background:url(../img/bg.png) no-repeat; margin:0px auto;}


#web .userList { width:670px; height:405px; margin:0px auto; background:#F7F7F9; border:1px solid #ddd;}
#web .userList .item{width: 670px; height: 70px; border: 1px solid gainsboro; border-top: hidden;  margin-bottom: 1px;}
#web .userList .item .icon{float: left;}
#web .userList .item .userName{width: 100px; height: 71px; font-size: 30px; line-height: 71px; margin-left: 80px; color: black;}
#web .userList .item .group{width: 100px; height: 71px; font-size: 20px; margin: 20px; color: darkgrey;}
#web .userList .item .manage{float: right; width: 80px; height: 40px; background: url(../img/btnbg.png);  font-size: 15px; text-align: center; color: white; line-height: 40px; margin: 10px; margin-top: 15px; border-radius: 10px;}
#web .userList .page{width: 100%; height: 40px;}
#web .userList .pageList li{float: right; margin-top: 10px; margin-right: 10px; font-size: 12px;}
#web .userList .pageList .pageNumber{width: 40px;}
#web .userList .pageList .btn{display: inline-block; height:25px; width: 60px; background:  url(../img/btnbg.png); line-height: 25px; text-align: center;  border-radius: 8px; color: white;cursor:pointer}
